# Plantilla de Variables de Entorno del Proyecto CDK (Networking Base)
# Duplica este archivo, renombralo a .env y ajusta los valores

# Estandar de Nomenclatura (Naming Convention)
PROJECT_NAME="poc"
ENVIRONMENT="dev"

# CIDR Block para la VPC (Predeterminado 10.0.0.0/16)
VPC_CIDR="10.0.0.0/16"

# Mascara de subred para dividir la VPC (Predeterminado 24)
SUBNET_CIDR_MASK="24"

# Cantidad Máxima de Zonas de Disponibilidad (Por defecto 2)
MAX_AZS="2"

# Habilitar o Deshabilitar NAT Gateways (Acepta "true" o "false")
ENABLE_NAT_GATEWAYS="false"
